{% extends 'base.html.twig' %}

{% block title %}New ReclamationAvis{% endblock %}

{% block body %}
    <h1>Create new ReclamationAvis</h1>

    {{ include('reclamation_avis/_form.html.twig') }}

    <a href="{{ path('app_reclamation_avis_index') }}">back to list</a>
{% endblock %}
