{% extends 'base.html.twig' %}

{% block title %}Certification index{% endblock %}

{% block body %}
    <h1>Certification index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Titrecours</th>
            <th>Dateajout</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for certification in certifications %}
            <tr>
                <td>{{ certification.titrecours }}</td>
                <td>{{ certification.dateajout }}</td>
                <td>
                    <a href="{{ path('app_certification_show', {'id': certification.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
