{% extends 'utilisateur/Dashbord/base.html.twig' %}
{% block pagetitle %}
    <div class="pagetitle">
        <h1>Certification</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Accueil</a></li>
                <li class="breadcrumb-item active">Certification</li>
                <li class="breadcrumb-item active">Ajouter Certification</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
{% endblock%}
{% block body %}
    {{ include('certification/_form.html.twig') }}
{% endblock %}
