{% extends 'utilisateur/client/base.html.twig' %}



{% block body %}



  <a{{ include('sponsor/_form.html.twig', {'button_label': 'Update'}) }}</a>

  <a href="{{ path('app_sponsor_index') }}"><input type="submit" value="Back" class="btn btn-outline-success"></a>



{% endblock %}
