{% extends 'utilisateur/client/base.html.twig' %}



{% block body %}
  <br>
    <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <a{{ include('sponsor/_form.html.twig', {'button_label': 'Update'}) }}</a>

    <a href="{{ path('app_sponsor_index') }}"><input type="submit" value="Back" class="btn btn-primary"></a>

  <a{{ include('sponsor/_delete_form.html.twig') }}</a>
{% endblock %}
