{% extends 'utilisateur/client/base.html.twig' %}



{% block body %}


    {{ include('evennement/_form.html.twig') }}

    <a href="{{ path('app_evennement_index') }}"><input type="submit" value="Back" class="btn btn-primary"></a>
{% endblock %}
