{% extends 'offre/templateoffre.html.twig' %}
{%  set type ="" %}
{% block body %}
<h4>Choisisez le type d'offre a ajouter</h4>
<br><div>
{% for s in types %}
    <span >
    <form action="{{ path('app_offre_new',{'type':s}) }}">
        <button class="btn-primary">{{ s }}</button>
    </form>
        </span>
{% endfor %}
</div>
{% endblock %}


