{% extends 'base.html.twig' %}

{% block title %}New Candidature{% endblock %}

{% block body %}


    {{ include('candidature/_form.html.twig') }}

    <a href="{{ path('app_affichageoffre') }}">back to list</a>
{% endblock %}
