{% extends 'base.html.twig' %}


{% block body %}

    {{ include('cours/_formEdit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cours_index') }}">back to list</a>
{% endblock %}
